body {
  background-color: aqua;
  display: flex;
  /* justify-content: center; */
}
/* .box {
  height: 200px;
  width: 200px;
  background-color: pink;
  border-radius: 100px;
  margin: auto;
  position: relative;
} */
.img {
  position: absolute;
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 100px;

  /* adding animation */

  animation: ball;
  animation-duration: 0.9s;
  /* animation-delay: 1s; */
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 0.005, 1, 0.5);
}
/* @keyframes ball {
  from {
    height: 200px;
    width: 200px;
  }
  to {
    height: 0px;
    width: 0px;
  }
} */

@keyframes ball {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100px, 205px, 0);
  }
}

/* @keyframes ball {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    bottom: 300px;
    right: 300px;
  }
  75% {
    top: 0px;
    right: 600px;
  }
  100% {
    bottom: 600px;
    right: 100px;
  }
} */
