body {
  /* background-color: black; */
  display: flex;
  /* background-image: ("pikachu.png"); */
}
.box {
  background-color: pink;
  position: absolute;
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 100px;
  /* adding animation */
  animation: boxx;
  animation-duration: 0.9s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 0.005, 1, 0.5);
}
@keyframes boxx {
  from {
    transform: translate3d(100px, 100px, 0);
    background: url("closeball.jpeg");
    /* opacity: 0.3; */
  }
  to {
    transform: translate3d(200px, 305px, 0);
    background: url("pokiball.jpeg");
  }
}

/* .img,
.img1 {
  position: absolute;
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 100px; */
/* adding animation */
/* animation: ball;
  animation-duration: 0.9s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 0.005, 1, 0.5);
}
/* adding 3d bouncing effects */
/* @keyframes ball {
  from {
    transform: translate3d(100px, 100px, 0);
    background: url("closeball.jpeg");
    opacity: 0.3;
  }
  to {
    transform: translate3d(200px, 305px, 0);
  }
} */

/* openball */
/* .img1 {
  position: absolute;
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 100px;
  /* adding animation */
/* animation: ball;
  animation-duration: 0.9s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 0.005, 1, 0.5);
} */

/* @keyframes ball {
  0% {
    background-image: url("closeball.jpeg");
    animation-duration: 1s;
  }
  100% {
    background-image: url("pokiball,jpg");
    animation-timing-function: cubic-bezier(0.5, 0.005, 1, 0.5);
  }
} */

/* pikachu */
.img2 {
  /* position: ; */
  height: 300px;
  width: 400px;
  margin: 450px auto;
  border-radius: 400px;
  animation: pikachu;
  /* animation-duration: ; */
  /* animation-timing-function: ease-in-out; */
  /* animation-iteration-count: infinite; */
  /* animation-timing-function: cubic-bezier(0.5, 0.005, 1, 0.5); */
}

@keyframes pikachu {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
